@use '../abstracts/helpers' as *;

body {
    @include flex($justify-content: center, $align-items: center);
    background-color: $dark-navy;
    height: 100vh;  
    box-sizing: border-box;

}

#game-menu-display {
    @include container($max-width: 460px, $margin: auto 0);
    @include flex($justify-content: center, $align-items: center, $flex-direction: column, $gap: 1rem);
}

#game-board-display {
    @include container($max-width: 1440px, $margin: auto 0);
    @include flex($justify-content: center, $align-items: center, $flex-direction: column, $gap: 1rem);
}

.game-over {
    opacity: 0.3;
    pointer-events: none;
    z-index: 0;
}

#game-winner-display, #restart-game-display {
    @include container($max-width: 1440px, $margin: 0 auto, $padding: 1rem 0);
    @include flex($justify-content: center, $align-items: center, $flex-direction: column);
    background-color: $semi-dark-navy; 
    z-index: 2;
    position: absolute;
    height: 300px;
}